* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    }

.contenedor {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .menu {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: #343a4000;
    width: 100%;
    max-width: 1000px;
}

header .menu a {
    margin: 0 0px;
    color: #FFF;
    padding: 20px;
    font-size: 1em;
    display: inline-block;  
    text-decoration: none;
}

header .texto {
    display: flex;
    align-content: center;
    justify-content: left;
    margin: 200px 0;
}

.main .barry-allen {
    text-align: center;
    background: #1e2b38;
    color: #FFF;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

footer .redes-sociales {
    background: #e70c0c;
    padding: 60px 0;
}
 footer .contenedor {
     display: flex;
    justify-content: center;
}

 footer .redes-sociales a {
    color: #fff;
    text-align: center;
    width: 100px;
    display: inline-block;
    padding: 15px 0;
    border-radius: 0px;
    font-size: 20px;
    font-size: 30px;
}

footer .redes-sociales .twitter:hover {
    background: #1DA1F2;
}

footer .redes-sociales .instagram:hover {
    background: #E1306C;
}

footer .redes-sociales .facebook:hover {
    background: #3B5998;
}

footer .texto-final {
    text-align: center;
    color: #fff;
}
